services:
  backend:
    build: ./backend
    container_name: whentaken-backend
    restart: always
    ports:
      - "8080:8080"
    environment:
      - SERVER_PORT=8080
      - CORS_ALLOWED_ORIGINS=http://localhost:5173
    networks:
      - app-network

  frontend:
    build: ./frontend
    container_name: whentaken-frontend
    restart: always
    ports:
      - "5173:80"
    depends_on:
      - backend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
