@import "tailwindcss";

@theme {
    --color-brand-400: #fb7185;
    --color-brand-500: #f43f5e;
    --color-brand-600: #e11d48;
    --color-dark-900: #0f172a;
    --color-dark-800: #1e293b;
}

body {
    background-color: #020617;
    @apply bg-slate-950 text-white antialiased;
}